@namespace WorkingTimer.Client.Components

<div class="blazor-modal @cssClass">
    @if (selectedDay != null)
    {
        <div class="blazor-modal-content">
            <div class="blazor-modal-header">
                <h5 class="blazor-modal-title">@selectedDay.Date.ToString("D")</h5>
                <span class="blazor-modal-close-button" @onclick="() => IsOpened = false">X</span>
            </div>
            <EditForm Model="calenderEvents" OnValidSubmit="AddEventTimer">
                <div class="blazor-modal-body">
                    <MudRadioGroup @bind-SelectedOption="calenderEvents.Subject" Class="mud-text-align-center my-auto">
                        <MudRadio Option="@("T")" Color="Color.Primary">Ordinaire</MudRadio>
                        <MudRadio Option="@("Férier")" Color="Color.Primary">Chomée et payée</MudRadio>
                        <MudRadio Option="@("Mission")" Color="Color.Primary">Mission</MudRadio>
                    </MudRadioGroup>
                    <div class="form-group row">
                        <span class="col-sm-12 col-md-2">Arriver :</span>
                        <input type="time" class="form-control col-sm-12 col-md-10" @bind-value="calenderEvents.StartTime" />
                    </div>
                    <div class="form-group row">
                        <span class="col-sm-12 col-md-2">Départ :</span>
                        <input type="time" class="form-control col-sm-12 col-md-10" @bind-value="calenderEvents.EndTime" />
                    </div>
                </div>
                <div class="blazor-modal-footer">
                    @if (_isBusy)
                    {
                        <div class="spinner-border text-primary"></div>
                    }
                    else
                    {
                        <button class="btn btn-primary" type="submit">Enregistrer</button>
                    }
                </div>
            </EditForm>
        </div>
    }
    else
    {
        <div class="spinner-border text-danger"></div>
    }
</div>