@namespace WorkingTimer.Client.Components

<div class="information-mensuel">
    <span style="text-decoration:underline; font-weight:bolder">
        @if (Days.Count() != 0)
        {
            @Utilities.ConvertIntMonthToString(Days.Where(e => e.IsEmpty == false).First().Date.Month) @Days.Where(e => e.IsEmpty == false).First().Date.Year
        }
    </span>
    <p class="mt-3">
        Total jours travailler : <b>@DayCummuled</b> J
        <br />
        Total d'heure cumuler : <b>@TimeCumuled</b>
        <br />
        @{
            string situationClass = DureeCumuled < TimeSpan.Parse("00:00:00") ? "bg-danger" : "bg-success";
        }
        Situation : <b class="@situationClass">@DureeCumuled</b>
    </p>
</div>